@charset "UTF-8";

/* 전체 선택자로 기본폰트, 폰트크기 설정 */
*{
	font-size: 12px;
	font-family: verdana;
}

/* 클래스 선택자로 사이즈, 배경 지정. 배경은 반복 */
.spring{
	width: 100%; height: 187px;
	background: url('../images/security.jpg') repeat;
}